# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of go build
currentz

# Vendor
/vendor/

# IDE/editor
.idea/
.vscode/
*.swp

# Environment
.env
note.md
finance_data.json

# Stupid Mac
.DS_Store
